.center{
	text-align: center;
	margin: auto;
	vertical-align: middle;
}

.box{
	border: 1px solid black;
	width: 70%;	
	margin-top: 80px;
	margin-bottom: 50px;
	padding: 10px;
	background: linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7));
}